
 <h3 class="margin">What Am I?</h3>
 <div class="row">
 
 <div class="container">
    <div class="row">
        <div class="col-xs-3 .col-md-3 .col-sm-3">
            <div class="circle-avatar" style="background-image:url(../assets/img_carousel/img1.jpg)">
             
        </div>
        <div id="text-center" >
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
   </div>
    </div>

    
     <div class="col-xs-3 .col-md-3 .col-sm-3">
             <div class="circle-avatar" style="background-image:url(../assets/img_carousel/img1.jpg)">
             
        </div>
        <div id="text-center" >
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
   </div>
    </div>
    
     <div class="col-xs-3 .col-md-12 .col-sm-6">
             <div class="circle-avatar" style="background-image:url(../assets/img_carousel/img1.jpg)">
             
        </div>
        <div id="text-center" >
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
   </div>
    </div>
    
     <div class="col-xs-3 .col-md-12 .col-sm-6">
             <div class="circle-avatar" style="background-image:url(../assets/img_carousel/img1.jpg)">
             
        </div>
        <div id="text-center" >
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
   </div>
    </div>
    
    
    
    </div>

   </div>
   </div> 
    