<div class='row'>
<div class = '.col-sm-12'>
<carousel class='text-center'>
  <slide>
    <img class ='img-main-carousel' src="../assets/img_carousel/img1.jpg" alt="First slide">
    <div class='carousel-caption'>
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img class ='img-main-carousel' src="../assets/img_carousel/img2.jpg" alt="Second slide">
    <div class='carousel-caption'>
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img class ='img-main-carousel' src="../assets/img_carousel/img3.jpg" alt="Third slide">
    <div class='carousel-caption'>
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
</div>
</div>