<div class="jumbotron jumbotron-fluid container text-center">
  <h1>Arkhives</h1> 
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elita</p> 
  <!-- <form name="myForm">
            <input type="email" placeholder=" email@address.com" name="email" ng-model="email" required>
            <input type="submit" value="Subscribe" style="width: 264px;">
            
        </form> -->

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Subscribe To..." aria-label="Subscribe To...">
      <span class="input-group-btn">
	  <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true">
      </span> Search!</button>
      </span>
    </div>
  </div>


<!-- </div> -->